doctype html
html
  head
    title Header Parser Microservice
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
  body
    .container
      h1 Jasil's Request Header Parser Microservice
      blockquote
        h3 User Stories:
        ol
          li  I can get the IP address, language and operating system for my browser.
      br
      h2 Example Usage:
        code https://jasil1414-headerparser.herokuapp.com/whoami
      br
      h2 Example Output:
      code
        h3 {"ip":"XX.XX.XXX.XXX","operating-system":"Windows NT 10.0; WOW64","language":"en-US"}
